page-login {

  .container{
    padding-top: 40%;
    width: 80%;
    margin: 0 auto;
  }

  h1{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 8%;

  }

  .statusMessage{
    height: 25px;

    p{
      margin: 0;
      font-weight: bold;
    }
  }

  .loginform{
    margin: 3% auto;
  }

  .list{
    margin-bottom: 1%;
  }

  #itemtop{
    border-radius: 5px 5px 0 0;
    border-color: gray;
  }

  #itembottom{
    border-radius: 0 0 5px 5px;
  }


  .linkbutton{
    margin-top: 0;
    margin-bottom: 25%;
  }

  .actionbuttoncontainer{
    position:absolute;
    width: 80%;
    bottom: 10%;
  }

  @media (max-height: 540px) {
    .container{
      padding-top: 15%;
    }
  }

}
