 /*@media only screen and (min-width: 725px){
        #canvas{
            height: 500px;    
            max-height: 400px; 
            min-height: 150px; 
            max-width: 500;
        }
        canvas{
            height: 500px; 
        }
    }
     @media only screen and (max-width: 724px){
        #canvas{
            height: 250px; 
            width: 100%; 
        }
        canvas{
            height: 250px; 
        }

     }   */
page-home {

    .small{
        display: block;
    }
  
    .graph-buttons{
          text-align: center;         
    }
    .card{
        padding: 0%; 
        margin-top: 0%; 
        border-top: 0%; 
        width: 98%;
        margin: 2% auto;  
  }
  
    .logoutButton{
        margin: 0; 
        padding: 0; 
        position: right; 
    }

    .graph{  
        text-align: center;    
        display: block;
        width: 100%;
        height: 100%; 
          
    }
    .col{
          position: center; 
    }
    
    .bottombutttons button{  
        width: 98%;  
        margin: 3% auto; 
        text-align: center;  
        display: block; 
        font-weight: bold;
  
    }
    
}
