<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'menu.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu">
    <ion-list>
      <!--button class="menubutton" menuClose icon-left ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon color="gray" name={{p.icon}}> </ion-icon>

        {{p.title}}
      </button-->

      <ion-item class="menuitem" *ngFor="let p of pages">
        <button ion-button clear color="dark" menuClose icon-left class="menubutton" (click)="openPage(p)">
          <ion-icon color="gray" name={{p.icon}}> </ion-icon>

          <p>{{p.title}}</p>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
